model/weights/*.pdparams filter=lfs diff=lfs merge=lfs -text
models/weights/*.pdparams filter=lfs diff=lfs merge=lfs -text
layoutlm-base-uncased/model_state.pdparams filter=lfs diff=lfs merge=lfs -text
